*.bak
bin
obj
monitor.suo
StockTraderModel
StockMemo
Stock.Market.Wjf
Stock.Market.Sc
Stock.Market.Yj
Stock.Trader.CTP
TestStockTrader
Stock.Strategy.RotationB
Stock.Strategy.Breathing
OCR
LCD.cs
TestResults
*.testsettings
*.dll
monitor.vsmdi