<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StockTrader" type="System.Configuration.DictionarySectionHandler" />
    <section name="CurrentStock"  type="System.Configuration.SingleTagSectionHandler"/>
    <section name="CurrentMarketListener"  type="System.Configuration.SingleTagSectionHandler"/>
  </configSections>

  <CurrentStock name="华泰证券" dll="Stock.Trader.HuaTai.dll" clazz="Stock.Trader.HuaTai.TdxStockTrader"/>
  <CurrentMarketListener name="Sina" dll="Stock.Market.Sina.dll" clazz="Stock.Market.Sina.SinaStockMarketListener"/>

  <StockTrader>
    <add key="Ticket.Time.Span" value="3000" />             <!-- 行情监控间隔时间，毫秒 -->
    <add key="Keep.Time.Span" value="10000" />              <!-- 刷新仓位，保持在线的间隔时间，毫秒 -->
    <add key="Cancel.Time.Span" value="60" />               <!-- ？秒内未成交，撤单，秒 -->

    <add key="money.rate.tax" value="0.001" />              <!-- 税率 -->
    <add key="money.rate.fee" value="0.0003" />             <!-- 手续费率 -->
  </StockTrader>
  
  
  <appSettings>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
