<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StockTrader" type="System.Configuration.DictionarySectionHandler" />
    <section name="CurrentStock"  type="System.Configuration.SingleTagSectionHandler"/>
    <section name="CurrentMarketListener"  type="System.Configuration.SingleTagSectionHandler"/>
  </configSections>

  <CurrentStock name="华泰证券" dll="Stock.Trader.HuaTai.dll" clazz="Stock.Trader.HuaTai.TdxStockTrader"/>
  <CurrentMarketListener name="Sina" dll="Stock.Market.Sina.dll" clazz="Stock.Market.Sina.SinaStockMarketListener"/>
  <!-- <CurrentMarketListener name="Sina" dll="Stock.Market.Wjf.dll" clazz="Stock.Market.Wjf.WjfStockMarketListener"/>  -->

  <StockTrader>
    <add key="Ticket.Time.Span" value="5000" />             <!-- 行情监控间隔时间，毫秒 -->
    <add key="Keep.Time.Span" value="6000" />               <!-- 刷新仓位，保持在线的间隔时间，毫秒 -->
    <add key="Cancel.Time.Span" value="60" />               <!-- ？秒内未成交，撤单，秒 -->

    <add key="money.rate.tax" value="0.001" />              <!-- 税率 -->
    <add key="money.rate.fee" value="0.0003" />             <!-- 手续费率 -->

    <add key="username" value ="guest" />                   <!-- 系统注册用户名 -->
    <add key="password" value ="guest" />

    <add key="Trade.Account" value="666600164015" />        <!-- 资金帐号 -->
    <add key="Trade.Password" value="781113" />
    <add key="Service.Password" value="750404" />
  </StockTrader>
  
<!--
  <MyStrategyList>
    <MyStrategy name="T+0 呼吸大法" dll="Stock.Strategy.Breathing.dll" clazz="Stock.Strategy.BreathingStrategy" group="1" desc="说明：水下吸，水面呼这样才能游得远" ></MyStrategy>
    <MyStrategy name="分级B强势轮动策略" dll="Stock.Strategy.RotationB.dll" clazz="Stock.Strategy.RotationB.RotationBStrategy" group="0" desc="说明：分级B强势轮动策略" ></MyStrategy>
  </MyStrategyList>
  -->
  <appSettings>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
